[submodule "openmm"]
	path = openmm
	url = https://github.com/muhammadhasyim/openmm.git
[submodule "third_party_refs/openmm-lm"]
	path = third_party_refs/openmm-lm
	url = https://github.com/muhammadhasyim/openmm-lm
