# Sphinx build files
_build/
_static/
_templates/

# API autosummary
api/_autosummary/

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
